* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.form {
    padding: 50px 50px;
}

.table {
    width: 400px;
    border: 2px outset black;
}

th, td {
    border: 1px inset black ;
}

tr {
    height: 30px;
}

td {
    padding-left: 8px;
}


.tfoot-td {
    text-align: center;
    height: 32px;
}

.input {
    margin-right: 12px;
    padding: 1px 2px;
}

td:nth-child(1) {
    width: 30%;
}








